.catalogList {
  position: relative;
  height: 100%;
}

.catalogListContainer {
  height: auto;
  background-color: var(--light-gray);
  position: sticky;
  top: 150px;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
}

.categoryList {
  display: flex;
  flex-direction: column;
}

.parentCategory {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.categoryListItem {
  margin-bottom: 10px;
}

.categoryListItem a {
  text-decoration: none;
  color: black;
}

.mobileCategoryList {
  display: none;
}

@media screen and (max-width: 1000px) {
  .catalog {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    margin-bottom: 80px;
  }

  .catalogProducts {
    grid-column: span 1;
  }

  .productList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .mobileCategoryList {
    display: block;
    position: relative;
  }
}
