.productContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}
.productImagesSlider {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.swiperImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.descriptContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productTitle {
  font-size: 30px;
  font-weight: 400;
}

.productButton {
  font-size: 18px;
  padding: 1rem;
  width: 100%;
}

.descText {
  margin-top: 2rem;
}

.popSwiper {
  width: 80vh;
  height: auto;
}

.previewGallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}
.previewGallery img:nth-child(1) {
  grid-column: span 5;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productCharacteristics {
  margin-top: 2rem;
}

.priceBlock {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.priceBlock span {
  display: block;
}

.productPrice {
}

@media screen and (max-width: 1000px) {
  .productContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
}
