:root {
  --main-blue: #004ea2;
  --light-blue: #7cbbff;
  --light-gray: #f7f7f7;
  --dark-gray: #afafaf;
  --dark-blue: #002246;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 45px;
}

ul,
li {
  list-style: none;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

section:not(:last-child) {
  margin-bottom: 80px;
}

.title-big {
  font-size: 55px;
  line-height: 55px;
  text-transform: uppercase;
}

.white {
  color: white;
}

.blue {
  color: var(--main-blue);
}

.title-medium {
  font-size: 45px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: bold;
}

.title-small {
  font-size: 24px;
  line-height: 32px;
}

button {
  border-radius: 10px;
}

.button-blue {
  background-color: var(--main-blue);
  color: white;
  text-transform: uppercase;
  border: 2px solid var(--main-blue);
  transition: 0.2s ease;
}

.button-blue:hover {
  color: var(--main-blue);
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.button-white {
  background-color: white;
  color: var(--main-blue);
  text-transform: uppercase;
  border: 2px solid white;
  transition: 0.2s ease;
}

.button-white:hover {
  background-color: transparent;
  color: white;
  transition: 0.2s ease;
}

.mt {
  margin-top: 40px;
}

.border-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.mb20 {
  margin-bottom: 20px;
}

.swiper-pagination-bullet-active {
  background: var(--main-blue) !important;
}

.container {
  max-width: 1700px;
  padding: 0 40px;
  margin: auto;
}

/* Основные стили */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Стили для заголовков */
th {
  background-color: #004ea2;
  color: white;
}

/* Чередующиеся строки */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Стили для hover */
tr:hover {
  background-color: #d4d4d4;
}

@media screen and (max-width: 1250px) {
  .container {
    max-width: auto;
    margin: 0 1.25rem;
    padding: 0;
  }
}
